/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Oswald:400,300,700);
@import "compass/reset";

@import "vars/vars";
@import "pages/artista";
@import "pages/biografia";
@import "pages/noticias";
@import "pages/videos";
@import "pages/curador";
@import "pages/interna";
@import "pages/footer";



html, body {
	font-family: $fontglobal;
	font-size: $fontsize;
	height: 100%;
}
a {
	&:hover {
		text-decoration: none;
		color: #a2a2a2 !important;
	}
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
header {
	&.interna {
		padding: 0;
		nav {
			margin-top: 0px;
			ul {
				li {						   
    				&#home {
    					background-color: #0787b6;
    					span {
    						background-color: #0787b6;
    						color: white;
    					}
    				}		
    				&#referentes {
    					background-color: #f15f60;
    					span {
    						background-color: #f15f60;
    						color: white;
    					}
    				}			
    				&#artistas {
    					background-color: #654751;
    					span {
    						background-color: #654751;
    						color: white;
    					}
    				}			
    				&#videos {
    					background-color: #2d3e52;
    					span {
    						background-color: #2d3e52;
    						color: white;
    					}
    				}			
    				&#convocatoria {
    					background-color: #8bbdb2;
    					span {
    						background-color: #8bbdb2;
    						color: white;
    					}
    				}			
    				&#noticias {
    					background-color: #f3b562;
    					span {
    						background-color: #f3b562;
    						color: white;
    					}
    				}			
    				&#contacto {
    					background-color: #d7cea7;
    					span {
    						background-color: #d7cea7;
    						color: white;
    					}
    				}						
					a {		
						display: block;
						padding: 0px;    
						color: #008095;
						font-size: 1.1em;
						font-weight: bold;
						line-height: 0px;
						span, img {
							display: inline-block;
						}
						span {
							background-color: white;
							height: 60px;
							overflow: hidden;
							padding: 30px 0px 0px 0px;

							-webkit-transition: width 0.2s ease;
							-o-transition: width 0.2s ease;
							transition: width 0.2s ease;

							width: 0px;							
							&.animate {
								-webkit-transition: width 0.3s ease;
								-o-transition: width 0.3s ease;
								transition: width 0.3s ease;

								width: 120px;
								padding: 30px 0px 0px 0px;
							}
						}					
						img {							
							vertical-align: top;
						}									    						  
						&:after {
							content: '';
						}
						&:focus {
							background-color: transparent;
						}
						&:hover {
							background-color: transparent;	
						}
						&.active {
    						background-color: transparent;
    						span {
    							width: 120px;
								padding: 30px 0px 0px 0px;
    						}    		
    					}
					}
				}
			}
		}
	}
}
section#over {
	display: block;
	height: 100%;
	min-height: 100%;
	overflow: hidden;	
	position: relative;
	.transparencia {
		/* background-color: $bluedesc; */
		height: 100%;
		left: 0;
		opacity: 0.7;
		position: absolute;		
		top: 0;
		width: 100%;
	}
	.title {
		height: 100px;
	    left: 50%;
	    margin-left: -225px;
	    margin-top: -50px;
	    position: absolute;
	    top: 70%;
	    width: 450px;
		hgroup {			
			h1 {				
				color: white;
				font-family: 'Oswald', sans-serif;
				font-size: 5em;
				font-weight: 700;
				margin-bottom: 25px;
			}
			span {
				color: #addfe0;
				font-size: 1.7em;
			}
		}
	}
	.arrow {	
		color: #addfe0;
		top: 90%;
		left: 50%; 
		position: absolute;
		margin-left: -12px;
		i {
			font-size: 2.5em;
		}
	}
}