#artista {
	@extend #content;
	article {
		padding-right: 70px !important;
		h3 {
			color: $bluetitle;
			font-size: 2em;
			margin-bottom: 10px;
		}
		h4 {
			color: $bluetitle;
		   	font-size: 1.2em;
    		margin: 10px 0px;
		}
		.galeria {
			margin-bottom: 60px;
			.owl-controls {
				.owl-pagination {
					position: absolute;
					bottom: -30px;
					left: 50%;
					margin-left: -30px;
					.owl-page {
					    height: 10px;
					    width: 10px;
					    background-color: $bluetitle;
					    display: inline-block;
					    margin: 5px;
					    border-radius: 50%;
					    &.active {
					    	background-color: #666;
					    }
					}
				}
				.owl-buttons {
					color: $bluetitle;
					font-size: 1.1em;
					margin: 10px 0;
				}
			}
		}
		.descripcion {
			p {
				color: $bluedesc;
			    font-size: 1.2em;
    			line-height: 1.5em;
    			margin: 10px 0;
			}
		}
		.links {
			padding: 20px 0;
			ul {
				li {
					margin: 15px 0;
					a {
						font-size: 1.2em;
					}
				}
			}
		}
	}
	.aside {		
		.item {
			&.artistas {
				background-color: #008095;
				padding-bottom: 20px;
				span {
					color: white;
					display: block;
					font-size: 1.2em;
					margin-bottom: 3px;
				}
				h3 {
					color: #fdb008;
					font-size: 1.5em;
					margin-bottom: 20px;
					b {
						font-weight: bold;
					}
				}
				ul {
					li {				
						margin-bottom: 7px;
						a {
							color: white;
							font-size: 1.1em;	
						}
					}
				}
			}
		}		
	}
}
section#biografia {
	background-color: #0080A7;
	.padding {
		padding: 5px 0;
	}
	.no-padding {
		padding: 0;
	}
	.bio {
		padding: 40px 0px;
	}
	figure {
		display: block;
		img {
			width: 200px;
			border-radius:50%;
		}
	}
	.title {

		span, h2 {
			display: block;
		}
		span {
			color: #fdb008;
			font-size: 1.4em;
			b {
				font-weight: bold;
			}
		}
		h2 {
			color: white;
			font-size: 2.5em;
			margin: 5px 0;
		}
	}
	.perfil {
		&.imagen {
			padding: 20px;
		}
		&.texto {
			color: white;
			padding: 20px 0;		
			h3 {
				color: #8C9EFF;
				font-size: 1.7em;
				margin: 10px 0;
			}
			p {
				font-size: 1.2em;
				line-height: 1.5em;
			}
		}
	}	
}