section#map {
	background-color: #e1dfd3;	
	padding: 30px;	    
	.mapa {
		background: url(../assets/images/mapa.jpg) top right no-repeat;
		height: 530px;
		h2 {
			color: #106667;
			font-size: 3em;
			font-weight: bold;
			padding: 50px;
		}
 	}
	.provincias {
		h2 {
			color: #2a86ad;
			font-size: 2em;
			font-weight: bold;
			margin-bottom: 40px;
		}
		ul {
			li {
				font-size: 1.3em;
				margin: 40px 0;
				&:nth-child(1) {
					color: #8e8a5d;
				}
				&:nth-child(2) {
					color: #bd3050;
				}
				&:nth-child(3) {
					color: #fa7c0e;
				}
				&:nth-child(4) {
					color: #fdb008;
				}
				&:nth-child(5) {
					color: #00bd71;
				}	
				&:nth-child(6) {
					color: #027498;
				}	
				&:nth-child(7) {
					color: #434a54;
				}
				&:nth-child(8) {
					color: #6e4c64;
				}								
				b {
					font-weight: bold;
				}
				i {
					margin-right: 10px;
				}
			}
		}
	}
}
footer {
	background-color: #008095;
	.item {
		color: white;
		padding: 40px 0;
		text-align: center;
		a {
			color: white;
			&:hover {
				color: white;
				text-decoration: none;
			}
		}
		&.bg1 {
			background-color: #8cbcb0;
		}
		&.bg2 {
			background-color: #f3b464;
		}
		&.bg3 {
			background-color: #ef5e61;
		}
		&.bg4 {
			background-color: #ee645a;
		}
		&.bg5 {
			background-color: #5d4a50;
		}
		&.bg6 {
			background-color: #2d3f53;
		}
		h3 {
			font-size: 2em;
			margin: 30px 0;
		}
		p {
			font-size: 1.1em;
		}
		figure {
			img {
				display: inline-block;
			}
		}
	}
}