@import 'base';
section#noticias {
	@extend #content;
	.noticias {
		padding-right: 70px;
		.item {
			border-bottom: 1px solid white;
			padding: 10px 0;
			margin: 10px 0;
			margin-top: 30px;
			hgroup {
				margin-bottom: 10px;
				h3 {
					color: $brown;
					font-size: 1.5em;
					font-weight: bold;
				}
				div.fecha {
					display: block;
					vertical-align: top;
					color: #666;
				}
			}
			.descripcion {
				p {
					color: $bluedesc;
					font-size: 1.2em;
					line-height: 1.5em;
				}
			}
			.social {
				text-align: left;
				ul {
					li {
						display: inline-block;						
						margin:10px;
						a {
							color: $bluedesc;
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}