/* line 3, ../../../sass/pages/curador.scss */
.curador .content .image {
  padding: 5px;
  border: 1px solid #ccc;
}
/* line 6, ../../../sass/pages/curador.scss */
.curador .content .image img {
  width: 100%;
}
/* line 10, ../../../sass/pages/curador.scss */
.curador .content .descripcion {
  padding-left: 16px;
}
