/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Oswald:400,300,700);
@import "compass/reset";

@import "vars/vars";
@import "pages/artista";
@import "pages/biografia";
@import "pages/noticias";
@import "pages/footer";



html, body {
	font-family: $fontglobal;
	font-size: $fontsize;
	height: 100%;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
header {
	padding: 15px 0;
	position: relative;
	.franja {
		background-color: #ef5e61;
		height: 72px;
		left: -165%;
		position: absolute;
		top: 20px;
		width: 500px;
	}
	nav {
		position: relative;
		margin-top: 15px;
		ul {
			li {
				a {
					color: #008095;
					font-size: 1.1em;
					font-weight: bold;
					&:after {
					    content: '|';
    					position: absolute;
    					right: 0;
					}					
				}
			}
		}
	}
}
section#over {
	display: block;
	height: 100%;
	min-height: 100%;
	overflow: hidden;	
	position: relative;
	.transparencia {
		/* background-color: $bluedesc; */
		height: 100%;
		left: 0;
		opacity: 0.7;
		position: absolute;		
		top: 0;
		width: 100%;
	}
	.title {
		height: 100px;
	    left: 50%;
	    margin-left: -225px;
	    margin-top: -50px;
	    position: absolute;
	    top: 70%;
	    width: 450px;
		hgroup {			
			h1 {				
				color: white;
				font-family: 'Oswald', sans-serif;
				font-size: 5em;
				font-weight: 700;
				margin-bottom: 10px;
			}
			span {
				color: #addfe0;
				font-size: 1.4em;
			}
		}
	}
	.arrow {	
		color: #addfe0;
		top: 90%;
		left: 50%; 
		position: absolute;
		margin-left: -12px;
		i {
			font-size: 2.5em;
		}
	}
}



