section#content {
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);	
	background-color: #e7f1f1;
	h3 {
		color: #0a7877;       
		font-size: 2.2em;     
		font-weight: 300;     
		margin-bottom: 10px; 
	}
	article, aside {
		padding: 50px 0 50px 0;
	}
	.container {
		/*display: flex;*/
	}
	article { 		
		.title {			
			margin: 10px 0;
			h2 {
				color: #0a7877;       
				font-size: 3.3em;     
				font-weight: bold;     
				margin-bottom: 10px; 
			}
			span {
				color: $bluetitle;
				font-size: 2em;
			}
		}		
		.content {
			color: #444;
			padding-right: 50px;
			h3 {
				color: $bluetitle;
				font-size: 1.7em;
				margin: 50px 0;
			}
			p {
				font-size: 1.1em;
				margin: 20px 0;
				line-height: 1.5em;
				text-align: justify;
			}
			dl {
				dt {
					color: #498796;
					font-size: 1.3em;
					font-weight: bold;
					margin-bottom: 10px;
				}
				dd {
					color: #666;
					font-size: 1.1em;
					margin-bottom: 10px;
				}
			}
			.curadores {
				.curador {
				    min-height: 240px;
				    max-width: 150px;
    				display: block;
					figure {
						img {
							border-radius: 50%;
						}
					}
					.personal {
						text-align: center;
						h2 {
							color: #666;
							font-size: 1.7em;
							margin: 15px 0 5px 0; 
						}
					}
				}
			}
			.bio {				
				margin-top: 50px;
				.image, .info {
					float: left;
				}
				.image {
					width: 30%;
					figure {
						border-radius: 50%;
						overflow: hidden;
						img {
							width: 100%;
						}
					}
				}
				.info {
					margin-left: 5%;
					width: 65%;
					h2 {
						color: #0a7877;
						font-size: 2em;
						a {
							color: #0a7877;							
						}
					}
					span {
						color: $bluedesc;
						display: block;
						font-size: 1.2em;
						margin-top: 5px;
					}
					p {						
						color: #444;
					}
				}
			}
		}
	}
	.aside {
		color: white;
		background-color: #f15f60;		
		padding: 0;
		text-align: center;				
		.item {
			padding: 50px 20%;
			hgroup {			
				h2 {
					font-size: 2em;
					text-align: left;
				}
				span {
					font-size: 1.1em;
					margin-top: 15px;
				}
			}
			.title, .biografia, .convocatoria {
				padding: 20px 0;
			}
			&.seguinos {
				background-color: #008095;
				.social {
					margin: 30px 0;
					text-align: left;
					ul {	
						margin-bottom: 16px;					
						li {
							display: inline-block;
							margin-left: 10px;
							&:first-child {
								margin-left: 0px;
							}
							a {
								border-radius: 50%;
								background-color: white;
								display: block;
								font-size: 2em;
								height: 40px;
								text-align: center;
								width: 40px;	
								i {
									color: #008095;
									margin-top: 8px;
									vertical-align: top;
								}							
							}
						}
					}
				}
				.descripcion {
					padding-bottom: 14%;
					padding-left: 0%;
					text-align: left;					
					a, span {
						color: white;
						display: block;
					    font-size: 1.2em;
    					line-height: 1.2em;
					}
				}
			}			
			&.convocatoria {
				height: 400px;
				.download { 
					font-size: 1.2em;
					.icon {
						margin-top: 16px;
						a {
							color: white;
							i {
								font-size: 3em;
							}
						}					
					}
					.icon {
						text-align: left;
						width: 100%;
					}
					.icon, .text {
						display: inline-block;
						text-align: left;
						vertical-align: top;
					} 
					.text {
					    padding-top: 6px;
	    				text-align: left;
					}
				}
			}
		}		
	}
}

.modal-content {
	background-color: #f15f60;
	.modal-header, .modal-footer {
		border: 0px;
	}
	.modal-body {
		p {
		    color: white;
		    font-weight: 300;
		    text-align: center;
		    font-size: 2em;
		}
	}
	.modal-footer {
		button {
			background-color: #008095;
			border: 0px;
			color: white;
		}
	}
}