section#artistas {
	@extend #content;	
	h3 {
		font-size: 1.8em !important;
		margin: 25px 0;

		b {
			font-weight: bold;
		}
		&.color1 {
			color: #8e8a5d;
		}
		&.color2 {
			color: #bd3050;
		}
		&.color3 {
			color: #fa7c0e;
		}
		&.color4 {
			color: #fdb008;
		}
		&.color5 {
			color: #00bd71;
		}
		&.color6 {
			color: #027498;
		}
		&.color7 {
			color: #434a54;
		}
		&.color8 {
			color: #6e4c64;
		}
	}
	ul {
		li {
			a {
				display: inline-block;
				font-size: 1.1em;
				color: #666;
				margin: 5px 0;
				&:hover {
					color: #bd3050;
				}
			}			
		}
	}
}
