.curador {
	.content {
		.image {
		    padding: 5px;
    		border: 1px solid #ccc;
    		img {
    			width: 100%;
    		}
		}
		.descripcion {
			padding-left: 16px;
			p {
				font-size: 1.2em !important;
				margin-top: 0px !important;
			}
		}
		a {
			color: #666;
			display: block;
			font-size: 1.2em;
			margin: 10px 0;
		}
	}
}