section#map {
	-webkit-transition: height 0.5s ease-in;
	-o-transition: height 0.5s ease-in;
	transition: height 0.5s ease-in;

	background-color: #e1dfd3;	
	padding: 30px;	    
	height: 537px;
	position: relative;
	overflow: hidden;
	&.ampliar {
		-webkit-transition: height 0.5s ease-in;
		-o-transition: height 0.5s ease-in;
		transition: height 0.5s ease-in;

		height: 1000px;
	}
	#ampliar {
	    position: absolute;
	    bottom: 20px;
	    left: 50%;
	    z-index: 999;
	    font-size: 2.5em;
	}
	.mapa {
		background: url(../images/mapa_argentina_completo.png) top right no-repeat;
		background-position-x: 72%;
		height: 690px;
		h2 {
			color: #106667;
			font-size: 3em;
			font-weight: bold;
			padding: 50px;
		}
 	}
	.provincias {
		padding-left: 14%;
		h2 {
			color: #2a86ad;
			font-size: 2em;
			font-weight: bold;
			margin-bottom: 40px;
		}
		ul {
			li {
				color: #999;
				font-size: 1.2em;
				margin: 25px 0;				
				&:nth-child(1) {
					a {
						color: #8e8a5d;
					}				
				}
				&:nth-child(2) {
					a {
						color: #bd3050;
					}					
				}
				&:nth-child(3) {
					a {
						color: #fa7c0e;
					}					
				}
				&:nth-child(4) {
					a {
						color: #fdb008;
					}					
				}
				&:nth-child(5) {
					a {
						color: #00bd71;
					}					
				}	
				&:nth-child(6) {
					a {
						color: #027498;
					}					
				}	
				&:nth-child(7) {
					a {
						color: #434a54;
					}					
				}
				&:nth-child(8) {
					a {
						color: #6e4c64;
					}					
				}								
				b {
					font-weight: bold;
				}
				i {
					margin-right: 10px;
				}
			}
		}
	}
}
footer {
	background-color: #008095;
	a {
		&:hover {
			background-color: white;
			text-decoration: none;			
		}
	}
	.item {
		color: white;
		padding: 40px 0;
		text-align: center;		
		&.bg1 {
			background-color: #8cbcb0;
			&:hover {
				background-color:#a8d1c7;
			}
		}
		&.bg2 {
			background-color: #f3b464;
			&:hover {
				background-color:#f2bf7f;
			}
		}
		&.bg3 {
			background-color: #f4ebc2;
			color: #2d3f53;
			a {
				color: #2d3f53;
			}
			&:hover {
				background-color:#f7f2dd;
			}
		}
		&.bg4 {
			background-color: #ee645a;
			&:hover {
				background-color:#fc8980;
			}
		}
		&.bg5 {
			background-color: #5d4a50;
			&:hover {
				background-color:#7b6d71;
			}
		}
		&.bg6 {
			background-color: #2d3f53;
			&:hover {
				background-color:#4e6075;
			}
		}
		h3 {
			font-size: 2em;
			margin: 30px 0 7px 0;
		}
		p {
		    font-size: 1.2em;
    		line-height: 1.5em;
		}
		figure {
			img {
				display: inline-block;
			}
		}
	}
}