.interna {
	.title {
		span {
			font-size: 1.7em !important;
			padding-bottom: 16px;
    		display: block;
		}
	}
	article {
		padding-right: 70px !important;
		figure {
			.epigrafe {
			    background-color: #f1f7f7;			   
			    padding: 10px;
			    p {
			    	color: #666;
			    }
			}
		}
		.fecha {
			color: #666;
			font-size: 1.2em;
			margin: 25px 0;
		}
		.content {
			padding-right: 0px !important;
			a.volver {
				font-size: 1.2em;
			}
		}
	}	
}