@import 'base';
section#noticias {
	@extend #content;
	article {
		.item {
			padding-bottom: 30px;
			figure {
				border: 1px solid #ccc;
			    display: inline-block;
			    padding: 1%;			    
			    width: 35%;
			    overflow: hidden;
    			max-height: 166px;
			}	
			.contenido {
			    display: inline-block;			    
			    margin-left: 2%;
			    vertical-align: top;
			    width: 62%;
			    .titular {
			        vertical-align: top;
    				display: block;
					a {
						color: #498796;
    					text-decoration: underline;
    				    font-size: 1.5em;					    					    
					    font-weight: 700;						    
					}    					
			    }
			    .leads {
			    	p {
			    		font-size: 1.2em;
			    		line-height: 1.7em;
			    	}
			    }
			}
			.foot {
				width: 100%;
				.fecha {
					float: left;
					padding: 10px;
				}
				.social {
					float: right;					
					ul {						
						li {
							display: inline-block;
							margin-left: 15px;
							&:first-child {
								margin-left: 0;
							}
							a {
								font-size: 1.5em;							
							}
						}
					}
				}
			}			
		}	
	}
}