.videos {
	.title {
		margin-bottom: 25px !important;
	}
	.content {
		.destacado {
			.descripcion {
				border-bottom: 1px solid #ccc;
			    margin-bottom: 20px;
			    h3 {
			    	margin: 20px 0 !important;
			    }
			}    
		}
		ul.video-gallery {
			li {
				.desc {
					padding: 7px 0;
					h4 {
					    color: #498796;
					    font-weight: 700;
					    font-size: 1.2em;
					}
					p {
						color: #8A9599;
					    font-size: 1.1em !important;
					    margin: 10px 0 !important;
					    line-height: 1.1em !important;
					    text-align: left !important;
					}
				}
			}		
		}
	}
}