@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Oswald:400,300,700);
/* line 5, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (min-width: 768px) {
  /* line 3, ../../sass/pages/_artista.scss */
  #artista article {
    padding-right: 70px !important;
  }
}
/* line 7, ../../sass/pages/_artista.scss */
#artista article h3 {
  color: #498796;
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
  width: 100%;
}
/* line 14, ../../sass/pages/_artista.scss */
#artista article h4 {
  color: #498796;
  font-size: 1.2em;
  margin: 10px 0px;
}
/* line 19, ../../sass/pages/_artista.scss */
#artista article .title-artista {
  margin-bottom: 40px;
}
/* line 21, ../../sass/pages/_artista.scss */
#artista article .title-artista span {
  color: #8e8a5d;
  display: block;
  font-size: 1.5em;
  margin-bottom: 5px;
}
/* line 26, ../../sass/pages/_artista.scss */
#artista article .title-artista span b {
  font-weight: 700;
}
/* line 30, ../../sass/pages/_artista.scss */
#artista article .title-artista h1 {
  color: #498796;
  font-size: 3em;
  font-weight: 700;
}
/* line 36, ../../sass/pages/_artista.scss */
#artista article .content-artista {
  margin-bottom: 30px;
}
/* line 38, ../../sass/pages/_artista.scss */
#artista article .content-artista div.avatar {
  width: 30%;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  float: left;
  display: inline-block;
  background-position: center;
  background-size: 100%;
}
@media screen and (min-width: 768px) {
  /* line 45, ../../sass/pages/_artista.scss */
  #artista article .content-artista figure {
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 30%;
  }
}
/* line 52, ../../sass/pages/_artista.scss */
#artista article .content-artista figure img {
  width: 100%;
}
/* line 56, ../../sass/pages/_artista.scss */
#artista article .content-artista .statment {
  float: left;
  padding: 0 0 0 20px;
  width: 70%;
}
@media screen and (max-width: 768px) {
  /* line 56, ../../sass/pages/_artista.scss */
  #artista article .content-artista .statment {
    width: 100%;
  }
}
/* line 63, ../../sass/pages/_artista.scss */
#artista article .content-artista .statment p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: justify;
}
/* line 71, ../../sass/pages/_artista.scss */
#artista article .galeria {
  margin-bottom: 60px;
}
/* line 75, ../../sass/pages/_artista.scss */
#artista article .galeria .owl-item .item .descripcion {
  font-size: 1.2em;
  margin: 10px 0;
}
/* line 82, ../../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-pagination {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
}
/* line 87, ../../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-pagination .owl-page {
  height: 10px;
  width: 10px;
  background-color: #498796;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
}
/* line 94, ../../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-pagination .owl-page.active {
  background-color: #666;
}
/* line 99, ../../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-buttons {
  color: #498796;
  font-size: 1.1em;
  margin: 10px 0;
}
/* line 103, ../../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-buttons .owl-prev {
  float: left;
}
/* line 106, ../../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-buttons .owl-next {
  float: right;
}
/* line 113, ../../sass/pages/_artista.scss */
#artista article .descripcion p {
  color: #1e655f;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 10px 0;
  text-align: justify;
}
/* line 121, ../../sass/pages/_artista.scss */
#artista article .links {
  padding: 20px 0;
}
/* line 124, ../../sass/pages/_artista.scss */
#artista article .links ul li {
  margin: 15px 0;
}
/* line 126, ../../sass/pages/_artista.scss */
#artista article .links ul li a {
  font-size: 1.2em;
}
/* line 135, ../../sass/pages/_artista.scss */
#artista .aside .item.artistas {
  background-color: #008095;
  padding-bottom: 20px;
}
/* line 138, ../../sass/pages/_artista.scss */
#artista .aside .item.artistas span {
  color: white;
  display: block;
  font-size: 1.2em;
  margin-bottom: 3px;
}
/* line 144, ../../sass/pages/_artista.scss */
#artista .aside .item.artistas h3 {
  color: #fdb008;
  font-size: 1.5em;
  margin-bottom: 20px;
}
/* line 148, ../../sass/pages/_artista.scss */
#artista .aside .item.artistas h3 b {
  font-weight: bold;
}
/* line 153, ../../sass/pages/_artista.scss */
#artista .aside .item.artistas ul li {
  margin-bottom: 7px;
}
/* line 155, ../../sass/pages/_artista.scss */
#artista .aside .item.artistas ul li a {
  color: white;
  font-size: 1.1em;
}

/* line 165, ../../sass/pages/_artista.scss */
section#biografia {
  background-color: #0080A7;
}
/* line 167, ../../sass/pages/_artista.scss */
section#biografia .padding {
  padding: 5px 0;
}
/* line 170, ../../sass/pages/_artista.scss */
section#biografia .no-padding {
  padding: 0;
}
/* line 173, ../../sass/pages/_artista.scss */
section#biografia .bio {
  padding: 40px 0px;
}
/* line 176, ../../sass/pages/_artista.scss */
section#biografia figure {
  display: block;
}
/* line 178, ../../sass/pages/_artista.scss */
section#biografia figure img {
  width: 200px;
  border-radius: 50%;
}
/* line 185, ../../sass/pages/_artista.scss */
section#biografia .title span, section#biografia .title h2 {
  display: block;
}
/* line 188, ../../sass/pages/_artista.scss */
section#biografia .title span {
  color: #fdb008;
  font-size: 1.4em;
}
/* line 191, ../../sass/pages/_artista.scss */
section#biografia .title span b {
  font-weight: bold;
}
/* line 195, ../../sass/pages/_artista.scss */
section#biografia .title h2 {
  color: white;
  font-size: 2.5em;
  margin: 5px 0;
}
/* line 202, ../../sass/pages/_artista.scss */
section#biografia .perfil.imagen {
  padding: 20px;
}
/* line 205, ../../sass/pages/_artista.scss */
section#biografia .perfil.texto {
  color: white;
  padding: 20px 0;
}
/* line 208, ../../sass/pages/_artista.scss */
section#biografia .perfil.texto h3 {
  color: #8C9EFF;
  font-size: 1.7em;
  margin: 10px 0;
}
/* line 213, ../../sass/pages/_artista.scss */
section#biografia .perfil.texto p {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-right: 70px !important;
}

/* line 3, ../../sass/pages/_biografia.scss */
section#artistas h3 {
  font-size: 1.8em !important;
  margin: 25px 0;
}
/* line 7, ../../sass/pages/_biografia.scss */
section#artistas h3 b {
  font-weight: bold;
}
/* line 10, ../../sass/pages/_biografia.scss */
section#artistas h3.color1 {
  color: #8e8a5d;
}
/* line 13, ../../sass/pages/_biografia.scss */
section#artistas h3.color2 {
  color: #bd3050;
}
/* line 16, ../../sass/pages/_biografia.scss */
section#artistas h3.color3 {
  color: #fa7c0e;
}
/* line 19, ../../sass/pages/_biografia.scss */
section#artistas h3.color4 {
  color: #fdb008;
}
/* line 22, ../../sass/pages/_biografia.scss */
section#artistas h3.color5 {
  color: #00bd71;
}
/* line 25, ../../sass/pages/_biografia.scss */
section#artistas h3.color6 {
  color: #027498;
}
/* line 28, ../../sass/pages/_biografia.scss */
section#artistas h3.color7 {
  color: #434a54;
}
/* line 31, ../../sass/pages/_biografia.scss */
section#artistas h3.color8 {
  color: #6e4c64;
}
/* line 37, ../../sass/pages/_biografia.scss */
section#artistas ul li a {
  display: inline-block;
  font-size: 1.1em;
  color: #666;
  margin: 5px 0;
}
/* line 42, ../../sass/pages/_biografia.scss */
section#artistas ul li a:hover {
  color: #bd3050;
}

/* line 1, ../../sass/pages/_base.scss */
section#content, section#artista, section#artistas, section#noticias {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  background-color: #e7f1f1;
}
/* line 6, ../../sass/pages/_base.scss */
section#content h3, section#artista h3, section#artistas h3, section#noticias h3 {
  color: #0a7877;
  font-size: 2.2em;
  font-weight: 300;
  margin-bottom: 10px;
}
/* line 12, ../../sass/pages/_base.scss */
section#content article, section#artista article, section#artistas article, section#noticias article, section#content aside, section#artista aside, section#artistas aside, section#noticias aside {
  padding: 50px 0 50px 0;
}
/* line 15, ../../sass/pages/_base.scss */
section#content .container, section#artista .container, section#artistas .container, section#noticias .container {
  /*display: flex;*/
}
/* line 19, ../../sass/pages/_base.scss */
section#content article .title, section#artista article .title, section#artistas article .title, section#noticias article .title {
  margin: 10px 0;
}
/* line 21, ../../sass/pages/_base.scss */
section#content article .title h2, section#artista article .title h2, section#artistas article .title h2, section#noticias article .title h2 {
  color: #0a7877;
  font-size: 3.3em;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 27, ../../sass/pages/_base.scss */
section#content article .title span, section#artista article .title span, section#artistas article .title span, section#noticias article .title span {
  color: #498796;
  font-size: 2em;
}
/* line 32, ../../sass/pages/_base.scss */
section#content article .content, section#artista article .content, section#artistas article .content, section#noticias article .content {
  color: #444;
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  /* line 32, ../../sass/pages/_base.scss */
  section#content article .content, section#artista article .content, section#artistas article .content, section#noticias article .content {
    padding-right: 0px;
  }
}
/* line 38, ../../sass/pages/_base.scss */
section#content article .content h3, section#artista article .content h3, section#artistas article .content h3, section#noticias article .content h3 {
  color: #498796;
  font-size: 1.7em;
  margin: 50px 0;
}
/* line 43, ../../sass/pages/_base.scss */
section#content article .content p, section#artista article .content p, section#artistas article .content p, section#noticias article .content p {
  font-size: 1.1em;
  margin: 20px 0;
  line-height: 1.5em;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  /* line 43, ../../sass/pages/_base.scss */
  section#content article .content p, section#artista article .content p, section#artistas article .content p, section#noticias article .content p {
    text-align: left;
  }
}
/* line 53, ../../sass/pages/_base.scss */
section#content article .content dl dt, section#artista article .content dl dt, section#artistas article .content dl dt, section#noticias article .content dl dt {
  color: #498796;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 59, ../../sass/pages/_base.scss */
section#content article .content dl dd, section#artista article .content dl dd, section#artistas article .content dl dd, section#noticias article .content dl dd {
  color: #666;
  font-size: 1.1em;
  margin-bottom: 10px;
}
/* line 66, ../../sass/pages/_base.scss */
section#content article .content .curadores .curador, section#artista article .content .curadores .curador, section#artistas article .content .curadores .curador, section#noticias article .content .curadores .curador {
  min-height: 240px;
  max-width: 150px;
  display: block;
}
/* line 71, ../../sass/pages/_base.scss */
section#content article .content .curadores .curador figure img, section#artista article .content .curadores .curador figure img, section#artistas article .content .curadores .curador figure img, section#noticias article .content .curadores .curador figure img {
  border-radius: 50%;
}
/* line 75, ../../sass/pages/_base.scss */
section#content article .content .curadores .curador .personal, section#artista article .content .curadores .curador .personal, section#artistas article .content .curadores .curador .personal, section#noticias article .content .curadores .curador .personal {
  text-align: center;
}
/* line 77, ../../sass/pages/_base.scss */
section#content article .content .curadores .curador .personal h2, section#artista article .content .curadores .curador .personal h2, section#artistas article .content .curadores .curador .personal h2, section#noticias article .content .curadores .curador .personal h2 {
  color: #666;
  font-size: 1.7em;
  margin: 15px 0 5px 0;
}
/* line 85, ../../sass/pages/_base.scss */
section#content article .content .bio, section#artista article .content .bio, section#artistas article .content .bio, section#noticias article .content .bio {
  margin-top: 50px;
}
/* line 87, ../../sass/pages/_base.scss */
section#content article .content .bio .image, section#artista article .content .bio .image, section#artistas article .content .bio .image, section#noticias article .content .bio .image, section#content article .content .bio .info, section#artista article .content .bio .info, section#artistas article .content .bio .info, section#noticias article .content .bio .info {
  float: left;
}
/* line 90, ../../sass/pages/_base.scss */
section#content article .content .bio .image, section#artista article .content .bio .image, section#artistas article .content .bio .image, section#noticias article .content .bio .image {
  width: 30%;
}
/* line 92, ../../sass/pages/_base.scss */
section#content article .content .bio .image figure, section#artista article .content .bio .image figure, section#artistas article .content .bio .image figure, section#noticias article .content .bio .image figure {
  border-radius: 50%;
  overflow: hidden;
}
/* line 95, ../../sass/pages/_base.scss */
section#content article .content .bio .image figure img, section#artista article .content .bio .image figure img, section#artistas article .content .bio .image figure img, section#noticias article .content .bio .image figure img {
  width: 100%;
}
/* line 100, ../../sass/pages/_base.scss */
section#content article .content .bio .info, section#artista article .content .bio .info, section#artistas article .content .bio .info, section#noticias article .content .bio .info {
  margin-left: 5%;
  width: 65%;
}
/* line 103, ../../sass/pages/_base.scss */
section#content article .content .bio .info h2, section#artista article .content .bio .info h2, section#artistas article .content .bio .info h2, section#noticias article .content .bio .info h2 {
  color: #0a7877;
  font-size: 1.7em;
}
/* line 106, ../../sass/pages/_base.scss */
section#content article .content .bio .info h2 a, section#artista article .content .bio .info h2 a, section#artistas article .content .bio .info h2 a, section#noticias article .content .bio .info h2 a {
  color: #0a7877;
}
/* line 110, ../../sass/pages/_base.scss */
section#content article .content .bio .info span, section#artista article .content .bio .info span, section#artistas article .content .bio .info span, section#noticias article .content .bio .info span {
  color: #1e655f;
  display: block;
  font-size: 1.2em;
  margin-top: 5px;
}
/* line 116, ../../sass/pages/_base.scss */
section#content article .content .bio .info p, section#artista article .content .bio .info p, section#artistas article .content .bio .info p, section#noticias article .content .bio .info p {
  color: #444;
}
/* line 123, ../../sass/pages/_base.scss */
section#content .aside, section#artista .aside, section#artistas .aside, section#noticias .aside {
  color: white;
  background-color: #f15f60;
  padding: 0;
  text-align: center;
}
/* line 128, ../../sass/pages/_base.scss */
section#content .aside .item, section#artista .aside .item, section#artistas .aside .item, section#noticias .aside .item {
  padding: 50px 20%;
}
/* line 131, ../../sass/pages/_base.scss */
section#content .aside .item hgroup h2, section#artista .aside .item hgroup h2, section#artistas .aside .item hgroup h2, section#noticias .aside .item hgroup h2 {
  font-size: 2em;
  text-align: left;
}
/* line 135, ../../sass/pages/_base.scss */
section#content .aside .item hgroup span, section#artista .aside .item hgroup span, section#artistas .aside .item hgroup span, section#noticias .aside .item hgroup span {
  font-size: 1.1em;
  margin-top: 15px;
}
/* line 140, ../../sass/pages/_base.scss */
section#content .aside .item .title, section#artista .aside .item .title, section#artistas .aside .item .title, section#noticias .aside .item .title, section#content .aside .item .biografia, section#artista .aside .item .biografia, section#artistas .aside .item .biografia, section#noticias .aside .item .biografia, section#content .aside .item .convocatoria, section#artista .aside .item .convocatoria, section#artistas .aside .item .convocatoria, section#noticias .aside .item .convocatoria {
  padding: 20px 0;
}
/* line 143, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos, section#artista .aside .item.seguinos, section#artistas .aside .item.seguinos, section#noticias .aside .item.seguinos {
  background-color: #008095;
}
/* line 145, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .social, section#artista .aside .item.seguinos .social, section#artistas .aside .item.seguinos .social, section#noticias .aside .item.seguinos .social {
  margin: 30px 0;
  text-align: left;
}
/* line 148, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul, section#artista .aside .item.seguinos .social ul, section#artistas .aside .item.seguinos .social ul, section#noticias .aside .item.seguinos .social ul {
  margin-bottom: 16px;
}
/* line 150, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li, section#artista .aside .item.seguinos .social ul li, section#artistas .aside .item.seguinos .social ul li, section#noticias .aside .item.seguinos .social ul li {
  display: inline-block;
  margin-left: 10px;
}
/* line 153, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li:first-child, section#artista .aside .item.seguinos .social ul li:first-child, section#artistas .aside .item.seguinos .social ul li:first-child, section#noticias .aside .item.seguinos .social ul li:first-child {
  margin-left: 0px;
}
/* line 156, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li a, section#artista .aside .item.seguinos .social ul li a, section#artistas .aside .item.seguinos .social ul li a, section#noticias .aside .item.seguinos .social ul li a {
  border-radius: 50%;
  background-color: white;
  display: block;
  font-size: 2em;
  height: 40px;
  text-align: center;
  width: 40px;
}
/* line 164, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li a i, section#artista .aside .item.seguinos .social ul li a i, section#artistas .aside .item.seguinos .social ul li a i, section#noticias .aside .item.seguinos .social ul li a i {
  color: #008095;
  margin-top: 8px;
  vertical-align: top;
}
/* line 173, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .descripcion, section#artista .aside .item.seguinos .descripcion, section#artistas .aside .item.seguinos .descripcion, section#noticias .aside .item.seguinos .descripcion {
  padding-bottom: 14%;
  padding-left: 0%;
  text-align: left;
}
/* line 177, ../../sass/pages/_base.scss */
section#content .aside .item.seguinos .descripcion a, section#artista .aside .item.seguinos .descripcion a, section#artistas .aside .item.seguinos .descripcion a, section#noticias .aside .item.seguinos .descripcion a, section#content .aside .item.seguinos .descripcion span, section#artista .aside .item.seguinos .descripcion span, section#artistas .aside .item.seguinos .descripcion span, section#noticias .aside .item.seguinos .descripcion span {
  color: white;
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 185, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria, section#artista .aside .item.convocatoria, section#artistas .aside .item.convocatoria, section#noticias .aside .item.convocatoria {
  height: 400px;
}
/* line 187, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download, section#artista .aside .item.convocatoria .download, section#artistas .aside .item.convocatoria .download, section#noticias .aside .item.convocatoria .download {
  font-size: 1.2em;
}
/* line 189, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon, section#artista .aside .item.convocatoria .download .icon, section#artistas .aside .item.convocatoria .download .icon, section#noticias .aside .item.convocatoria .download .icon {
  margin-top: 16px;
}
/* line 191, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon a, section#artista .aside .item.convocatoria .download .icon a, section#artistas .aside .item.convocatoria .download .icon a, section#noticias .aside .item.convocatoria .download .icon a {
  color: white;
}
/* line 193, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon a i, section#artista .aside .item.convocatoria .download .icon a i, section#artistas .aside .item.convocatoria .download .icon a i, section#noticias .aside .item.convocatoria .download .icon a i {
  font-size: 3em;
}
/* line 198, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon, section#artista .aside .item.convocatoria .download .icon, section#artistas .aside .item.convocatoria .download .icon, section#noticias .aside .item.convocatoria .download .icon {
  text-align: left;
  width: 100%;
}
/* line 202, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon, section#artista .aside .item.convocatoria .download .icon, section#artistas .aside .item.convocatoria .download .icon, section#noticias .aside .item.convocatoria .download .icon, section#content .aside .item.convocatoria .download .text, section#artista .aside .item.convocatoria .download .text, section#artistas .aside .item.convocatoria .download .text, section#noticias .aside .item.convocatoria .download .text {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
/* line 207, ../../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .text, section#artista .aside .item.convocatoria .download .text, section#artistas .aside .item.convocatoria .download .text, section#noticias .aside .item.convocatoria .download .text {
  padding-top: 6px;
  text-align: left;
}

/* line 218, ../../sass/pages/_base.scss */
#section-curadores .bio {
  margin-top: 20px !important;
}
/* line 220, ../../sass/pages/_base.scss */
#section-curadores .bio .image {
  width: 50px !important;
}

/* line 226, ../../sass/pages/_base.scss */
.modal-content {
  background-color: #f15f60;
}
/* line 228, ../../sass/pages/_base.scss */
.modal-content .modal-header, .modal-content .modal-footer {
  border: 0px;
}
/* line 232, ../../sass/pages/_base.scss */
.modal-content .modal-body p {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
}
/* line 240, ../../sass/pages/_base.scss */
.modal-content .modal-footer button {
  background-color: #008095;
  border: 0px;
  color: white;
}

/* line 5, ../../sass/pages/_noticias.scss */
section#noticias article .item {
  padding-bottom: 30px;
}
/* line 7, ../../sass/pages/_noticias.scss */
section#noticias article .item figure {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1%;
  width: 35%;
  overflow: hidden;
  max-height: 166px;
}
/* line 15, ../../sass/pages/_noticias.scss */
section#noticias article .item .contenido {
  display: inline-block;
  margin-left: 2%;
  vertical-align: top;
  width: 62%;
}
/* line 20, ../../sass/pages/_noticias.scss */
section#noticias article .item .contenido .titular {
  vertical-align: top;
  display: block;
}
/* line 23, ../../sass/pages/_noticias.scss */
section#noticias article .item .contenido .titular a {
  color: #498796;
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: 700;
}
/* line 31, ../../sass/pages/_noticias.scss */
section#noticias article .item .contenido .leads p {
  font-size: 1.2em;
  line-height: 1.7em;
}
/* line 37, ../../sass/pages/_noticias.scss */
section#noticias article .item .foot {
  width: 100%;
}
/* line 39, ../../sass/pages/_noticias.scss */
section#noticias article .item .foot .fecha {
  float: left;
  padding: 10px;
}
/* line 43, ../../sass/pages/_noticias.scss */
section#noticias article .item .foot .social {
  float: right;
}
/* line 46, ../../sass/pages/_noticias.scss */
section#noticias article .item .foot .social ul li {
  display: inline-block;
  margin-left: 15px;
}
/* line 49, ../../sass/pages/_noticias.scss */
section#noticias article .item .foot .social ul li:first-child {
  margin-left: 0;
}
/* line 52, ../../sass/pages/_noticias.scss */
section#noticias article .item .foot .social ul li a {
  font-size: 1.5em;
}

/* line 2, ../../sass/pages/_videos.scss */
.videos .title {
  margin-bottom: 25px !important;
}
/* line 7, ../../sass/pages/_videos.scss */
.videos .content .destacado .descripcion {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
/* line 10, ../../sass/pages/_videos.scss */
.videos .content .destacado .descripcion h3 {
  margin: 20px 0 !important;
}
/* line 17, ../../sass/pages/_videos.scss */
.videos .content ul.video-gallery li .desc {
  padding: 7px 0;
}
/* line 19, ../../sass/pages/_videos.scss */
.videos .content ul.video-gallery li .desc h4 {
  color: #498796;
  font-weight: 700;
  font-size: 1.2em;
}
/* line 24, ../../sass/pages/_videos.scss */
.videos .content ul.video-gallery li .desc p {
  color: #8A9599;
  font-size: 1.1em !important;
  margin: 10px 0 !important;
  line-height: 1.1em !important;
  text-align: left !important;
}

/* line 3, ../../sass/pages/_curador.scss */
.curador .content .image {
  padding: 5px;
  border: 1px solid #ccc;
}
/* line 6, ../../sass/pages/_curador.scss */
.curador .content .image img {
  width: 100%;
}
/* line 10, ../../sass/pages/_curador.scss */
.curador .content .descripcion {
  padding-left: 16px;
}
/* line 12, ../../sass/pages/_curador.scss */
.curador .content .descripcion p {
  font-size: 1.2em !important;
  margin-top: 0px !important;
}
/* line 17, ../../sass/pages/_curador.scss */
.curador .content a {
  color: #666;
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
}

/* line 3, ../../sass/pages/_interna.scss */
.interna .title span {
  font-size: 1.7em !important;
  padding-bottom: 16px;
  display: block;
}
/* line 9, ../../sass/pages/_interna.scss */
.interna article {
  padding-right: 70px !important;
}
/* line 12, ../../sass/pages/_interna.scss */
.interna article figure .epigrafe {
  background-color: #f1f7f7;
  padding: 10px;
}
/* line 15, ../../sass/pages/_interna.scss */
.interna article figure .epigrafe p {
  color: #666;
}
/* line 20, ../../sass/pages/_interna.scss */
.interna article .avatar {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 100px;
  width: 100px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
/* line 30, ../../sass/pages/_interna.scss */
.interna article .fecha {
  color: #666;
  font-size: 1.2em;
  margin: 25px 0;
}
/* line 35, ../../sass/pages/_interna.scss */
.interna article .content {
  padding-right: 0px !important;
}
/* line 37, ../../sass/pages/_interna.scss */
.interna article .content a.volver {
  font-size: 1.2em;
}

/* line 1, ../../sass/pages/_footer.scss */
section#map {
  -webkit-transition: height 0.5s ease-in;
  -o-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  background-color: #e1dfd3;
  padding: 30px;
  height: 537px;
  position: relative;
  overflow: hidden;
}
/* line 11, ../../sass/pages/_footer.scss */
section#map.ampliar {
  -webkit-transition: height 0.5s ease-in;
  -o-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  height: 1000px;
}
/* line 18, ../../sass/pages/_footer.scss */
section#map #ampliar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 999;
  font-size: 2.5em;
}
/* line 25, ../../sass/pages/_footer.scss */
section#map .mapa {
  background: url(../images/mapa_argentina_completo.png) top right no-repeat;
  background-position-x: 72%;
  height: 690px;
}
/* line 29, ../../sass/pages/_footer.scss */
section#map .mapa h2 {
  color: #106667;
  font-size: 3em;
  font-weight: bold;
  padding: 50px;
}
/* line 36, ../../sass/pages/_footer.scss */
section#map .provincias {
  padding-left: 14%;
}
/* line 38, ../../sass/pages/_footer.scss */
section#map .provincias h2 {
  color: #2a86ad;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 40px;
}
/* line 45, ../../sass/pages/_footer.scss */
section#map .provincias ul li {
  color: #999;
  font-size: 1.2em;
  margin: 25px 0;
}
/* line 50, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(1) a {
  color: #8e8a5d;
}
/* line 55, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(2) a {
  color: #bd3050;
}
/* line 60, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(3) a {
  color: #fa7c0e;
}
/* line 65, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(4) a {
  color: #fdb008;
}
/* line 70, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(5) a {
  color: #00bd71;
}
/* line 75, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(6) a {
  color: #027498;
}
/* line 80, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(7) a {
  color: #434a54;
}
/* line 85, ../../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(8) a {
  color: #6e4c64;
}
/* line 89, ../../sass/pages/_footer.scss */
section#map .provincias ul li b {
  font-weight: bold;
}
/* line 92, ../../sass/pages/_footer.scss */
section#map .provincias ul li i {
  margin-right: 10px;
}

/* line 99, ../../sass/pages/_footer.scss */
footer {
  background-color: #008095;
}
/* line 102, ../../sass/pages/_footer.scss */
footer a:hover {
  background-color: white;
  text-decoration: none;
}
/* line 107, ../../sass/pages/_footer.scss */
footer .item {
  color: white;
  padding: 40px 0;
  text-align: center;
}
/* line 111, ../../sass/pages/_footer.scss */
footer .item.bg1 {
  background-color: #8cbcb0;
}
/* line 113, ../../sass/pages/_footer.scss */
footer .item.bg1:hover {
  background-color: #a8d1c7;
}
/* line 117, ../../sass/pages/_footer.scss */
footer .item.bg2 {
  background-color: #f3b464;
}
/* line 119, ../../sass/pages/_footer.scss */
footer .item.bg2:hover {
  background-color: #f2bf7f;
}
/* line 123, ../../sass/pages/_footer.scss */
footer .item.bg3 {
  background-color: #f4ebc2;
  color: #2d3f53;
}
/* line 126, ../../sass/pages/_footer.scss */
footer .item.bg3 a {
  color: #2d3f53;
}
/* line 129, ../../sass/pages/_footer.scss */
footer .item.bg3:hover {
  background-color: #f7f2dd;
}
/* line 133, ../../sass/pages/_footer.scss */
footer .item.bg4 {
  background-color: #ee645a;
}
/* line 135, ../../sass/pages/_footer.scss */
footer .item.bg4:hover {
  background-color: #fc8980;
}
/* line 139, ../../sass/pages/_footer.scss */
footer .item.bg5 {
  background-color: #5d4a50;
}
/* line 141, ../../sass/pages/_footer.scss */
footer .item.bg5:hover {
  background-color: #7b6d71;
}
/* line 145, ../../sass/pages/_footer.scss */
footer .item.bg6 {
  background-color: #2d3f53;
}
/* line 147, ../../sass/pages/_footer.scss */
footer .item.bg6:hover {
  background-color: #4e6075;
}
/* line 151, ../../sass/pages/_footer.scss */
footer .item h3 {
  font-size: 2em;
  margin: 30px 0 7px 0;
}
/* line 155, ../../sass/pages/_footer.scss */
footer .item p {
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 160, ../../sass/pages/_footer.scss */
footer .item figure img {
  display: inline-block;
}

/* line 20, ../../sass/screen.scss */
html, body {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  height: 100%;
}

/* line 26, ../../sass/screen.scss */
a:hover {
  text-decoration: none;
  color: #a2a2a2 !important;
}

/* line 31, ../../sass/screen.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 36, ../../sass/screen.scss */
header.interna {
  padding: 0;
}
/* line 38, ../../sass/screen.scss */
header.interna nav {
  margin-top: 0px;
}
/* line 42, ../../sass/screen.scss */
header.interna nav ul li#home {
  background-color: #0787b6;
}
/* line 44, ../../sass/screen.scss */
header.interna nav ul li#home span {
  background-color: #0787b6;
  color: white;
}
/* line 49, ../../sass/screen.scss */
header.interna nav ul li#referentes {
  background-color: #f15f60;
}
/* line 51, ../../sass/screen.scss */
header.interna nav ul li#referentes span {
  background-color: #f15f60;
  color: white;
}
/* line 56, ../../sass/screen.scss */
header.interna nav ul li#artistas {
  background-color: #654751;
}
/* line 58, ../../sass/screen.scss */
header.interna nav ul li#artistas span {
  background-color: #654751;
  color: white;
}
/* line 63, ../../sass/screen.scss */
header.interna nav ul li#videos {
  background-color: #2d3e52;
}
/* line 65, ../../sass/screen.scss */
header.interna nav ul li#videos span {
  background-color: #2d3e52;
  color: white;
}
/* line 70, ../../sass/screen.scss */
header.interna nav ul li#convocatoria {
  background-color: #8bbdb2;
}
/* line 72, ../../sass/screen.scss */
header.interna nav ul li#convocatoria span {
  background-color: #8bbdb2;
  color: white;
}
/* line 77, ../../sass/screen.scss */
header.interna nav ul li#noticias {
  background-color: #f3b562;
}
/* line 79, ../../sass/screen.scss */
header.interna nav ul li#noticias span {
  background-color: #f3b562;
  color: white;
}
/* line 84, ../../sass/screen.scss */
header.interna nav ul li#contacto {
  background-color: #d7cea7;
}
/* line 86, ../../sass/screen.scss */
header.interna nav ul li#contacto span {
  background-color: #d7cea7;
  color: white;
}
/* line 91, ../../sass/screen.scss */
header.interna nav ul li a {
  display: block;
  padding: 0px;
  color: #008095;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 0px;
}
/* line 98, ../../sass/screen.scss */
header.interna nav ul li a span, header.interna nav ul li a img {
  display: inline-block;
}
/* line 101, ../../sass/screen.scss */
header.interna nav ul li a span {
  background-color: white;
  height: 60px;
  overflow: hidden;
  padding: 30px 0px 0px 0px;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
  width: 0px;
}
/* line 112, ../../sass/screen.scss */
header.interna nav ul li a span.animate {
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
  width: 120px;
  padding: 30px 0px 0px 0px;
}
/* line 121, ../../sass/screen.scss */
header.interna nav ul li a img {
  vertical-align: top;
}
/* line 124, ../../sass/screen.scss */
header.interna nav ul li a:after {
  content: '';
}
/* line 127, ../../sass/screen.scss */
header.interna nav ul li a:focus {
  background-color: transparent;
}
/* line 130, ../../sass/screen.scss */
header.interna nav ul li a:hover {
  background-color: transparent;
}
/* line 133, ../../sass/screen.scss */
header.interna nav ul li a.active {
  background-color: transparent;
}
/* line 135, ../../sass/screen.scss */
header.interna nav ul li a.active span {
  width: 120px;
  padding: 30px 0px 0px 0px;
}

/* line 146, ../../sass/screen.scss */
section#over {
  display: block;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 152, ../../sass/screen.scss */
section#over .transparencia {
  /* background-color: $bluedesc; */
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 161, ../../sass/screen.scss */
section#over .title {
  height: 100px;
  left: 50%;
  margin-left: -225px;
  margin-top: -50px;
  position: absolute;
  top: 70%;
  width: 450px;
}
/* line 170, ../../sass/screen.scss */
section#over .title hgroup h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 25px;
}
/* line 177, ../../sass/screen.scss */
section#over .title hgroup span {
  color: #addfe0;
  font-size: 1.7em;
}
/* line 183, ../../sass/screen.scss */
section#over .arrow {
  color: #addfe0;
  top: 90%;
  left: 50%;
  position: absolute;
  margin-left: -12px;
}
/* line 189, ../../sass/screen.scss */
section#over .arrow i {
  font-size: 2.5em;
}
