@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|Oswald:400,300,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/pages/_artista.scss */
#artista article {
  padding-right: 70px !important;
}
/* line 5, ../sass/pages/_artista.scss */
#artista article h3 {
  color: #498796;
  font-size: 2em;
  margin-bottom: 10px;
}
/* line 10, ../sass/pages/_artista.scss */
#artista article h4 {
  color: #498796;
  font-size: 1.2em;
  margin: 10px 0px;
}
/* line 15, ../sass/pages/_artista.scss */
#artista article .galeria {
  margin-bottom: 60px;
}
/* line 18, ../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-pagination {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
}
/* line 23, ../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-pagination .owl-page {
  height: 10px;
  width: 10px;
  background-color: #498796;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
}
/* line 30, ../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-pagination .owl-page.active {
  background-color: #666;
}
/* line 35, ../sass/pages/_artista.scss */
#artista article .galeria .owl-controls .owl-buttons {
  color: #498796;
  font-size: 1.1em;
  margin: 10px 0;
}
/* line 43, ../sass/pages/_artista.scss */
#artista article .descripcion p {
  color: #1e655f;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 10px 0;
}
/* line 50, ../sass/pages/_artista.scss */
#artista article .links {
  padding: 20px 0;
}
/* line 53, ../sass/pages/_artista.scss */
#artista article .links ul li {
  margin: 15px 0;
}
/* line 55, ../sass/pages/_artista.scss */
#artista article .links ul li a {
  font-size: 1.2em;
}
/* line 64, ../sass/pages/_artista.scss */
#artista .aside .item.artistas {
  background-color: #008095;
  padding-bottom: 20px;
}
/* line 67, ../sass/pages/_artista.scss */
#artista .aside .item.artistas span {
  color: white;
  display: block;
  font-size: 1.2em;
  margin-bottom: 3px;
}
/* line 73, ../sass/pages/_artista.scss */
#artista .aside .item.artistas h3 {
  color: #fdb008;
  font-size: 1.5em;
  margin-bottom: 20px;
}
/* line 77, ../sass/pages/_artista.scss */
#artista .aside .item.artistas h3 b {
  font-weight: bold;
}
/* line 82, ../sass/pages/_artista.scss */
#artista .aside .item.artistas ul li {
  margin-bottom: 7px;
}
/* line 84, ../sass/pages/_artista.scss */
#artista .aside .item.artistas ul li a {
  color: white;
  font-size: 1.1em;
}

/* line 94, ../sass/pages/_artista.scss */
section#biografia {
  background-color: #0080A7;
}
/* line 96, ../sass/pages/_artista.scss */
section#biografia .padding {
  padding: 5px 0;
}
/* line 99, ../sass/pages/_artista.scss */
section#biografia .no-padding {
  padding: 0;
}
/* line 102, ../sass/pages/_artista.scss */
section#biografia .bio {
  padding: 40px 0px;
}
/* line 105, ../sass/pages/_artista.scss */
section#biografia figure {
  display: block;
}
/* line 107, ../sass/pages/_artista.scss */
section#biografia figure img {
  width: 200px;
  border-radius: 50%;
}
/* line 114, ../sass/pages/_artista.scss */
section#biografia .title span, section#biografia .title h2 {
  display: block;
}
/* line 117, ../sass/pages/_artista.scss */
section#biografia .title span {
  color: #fdb008;
  font-size: 1.4em;
}
/* line 120, ../sass/pages/_artista.scss */
section#biografia .title span b {
  font-weight: bold;
}
/* line 124, ../sass/pages/_artista.scss */
section#biografia .title h2 {
  color: white;
  font-size: 2.5em;
  margin: 5px 0;
}
/* line 131, ../sass/pages/_artista.scss */
section#biografia .perfil.imagen {
  padding: 20px;
}
/* line 134, ../sass/pages/_artista.scss */
section#biografia .perfil.texto {
  color: white;
  padding: 20px 0;
}
/* line 137, ../sass/pages/_artista.scss */
section#biografia .perfil.texto h3 {
  color: #8C9EFF;
  font-size: 1.7em;
  margin: 10px 0;
}
/* line 142, ../sass/pages/_artista.scss */
section#biografia .perfil.texto p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 3, ../sass/pages/_biografia.scss */
section#artistas h3 {
  font-size: 1.8em !important;
  margin: 25px 0;
}
/* line 7, ../sass/pages/_biografia.scss */
section#artistas h3 b {
  font-weight: bold;
}
/* line 10, ../sass/pages/_biografia.scss */
section#artistas h3.color1 {
  color: #8e8a5d;
}
/* line 13, ../sass/pages/_biografia.scss */
section#artistas h3.color2 {
  color: #bd3050;
}
/* line 16, ../sass/pages/_biografia.scss */
section#artistas h3.color3 {
  color: #fa7c0e;
}
/* line 19, ../sass/pages/_biografia.scss */
section#artistas h3.color4 {
  color: #fdb008;
}
/* line 22, ../sass/pages/_biografia.scss */
section#artistas h3.color5 {
  color: #00bd71;
}
/* line 25, ../sass/pages/_biografia.scss */
section#artistas h3.color6 {
  color: #027498;
}
/* line 28, ../sass/pages/_biografia.scss */
section#artistas h3.color7 {
  color: #434a54;
}
/* line 31, ../sass/pages/_biografia.scss */
section#artistas h3.color8 {
  color: #6e4c64;
}
/* line 37, ../sass/pages/_biografia.scss */
section#artistas ul li a {
  display: inline-block;
  font-size: 1.1em;
  color: #666;
  margin: 5px 0;
}
/* line 42, ../sass/pages/_biografia.scss */
section#artistas ul li a:hover {
  color: #bd3050;
}

/* line 1, ../sass/pages/_base.scss */
section#content, section#artista, section#artistas, section#noticias {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  background-color: #e7f1f1;
}
/* line 6, ../sass/pages/_base.scss */
section#content h3, section#artista h3, section#artistas h3, section#noticias h3 {
  color: #0a7877;
  font-size: 2.2em;
  font-weight: 300;
  margin-bottom: 10px;
}
/* line 12, ../sass/pages/_base.scss */
section#content article, section#artista article, section#artistas article, section#noticias article, section#content aside, section#artista aside, section#artistas aside, section#noticias aside {
  padding: 50px 0 50px 0;
}
/* line 15, ../sass/pages/_base.scss */
section#content .container, section#artista .container, section#artistas .container, section#noticias .container {
  /*display: flex;*/
}
/* line 19, ../sass/pages/_base.scss */
section#content article .title, section#artista article .title, section#artistas article .title, section#noticias article .title {
  margin: 10px 0;
}
/* line 21, ../sass/pages/_base.scss */
section#content article .title h2, section#artista article .title h2, section#artistas article .title h2, section#noticias article .title h2 {
  color: #0a7877;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 27, ../sass/pages/_base.scss */
section#content article .title span, section#artista article .title span, section#artistas article .title span, section#noticias article .title span {
  color: #498796;
  font-size: 2em;
}
/* line 32, ../sass/pages/_base.scss */
section#content article .content, section#artista article .content, section#artistas article .content, section#noticias article .content {
  color: #444;
  padding-right: 70px;
}
/* line 35, ../sass/pages/_base.scss */
section#content article .content h3, section#artista article .content h3, section#artistas article .content h3, section#noticias article .content h3 {
  color: #498796;
  font-size: 1.7em;
  margin: 50px 0;
}
/* line 40, ../sass/pages/_base.scss */
section#content article .content p, section#artista article .content p, section#artistas article .content p, section#noticias article .content p {
  font-size: 1.1em;
  margin: 20px 0;
  line-height: 1.5em;
}
/* line 46, ../sass/pages/_base.scss */
section#content article .content dl dt, section#artista article .content dl dt, section#artistas article .content dl dt, section#noticias article .content dl dt {
  color: #498796;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 52, ../sass/pages/_base.scss */
section#content article .content dl dd, section#artista article .content dl dd, section#artistas article .content dl dd, section#noticias article .content dl dd {
  color: #666;
  font-size: 1.1em;
  margin-bottom: 10px;
}
/* line 59, ../sass/pages/_base.scss */
section#content article .content .curadores .curador, section#artista article .content .curadores .curador, section#artistas article .content .curadores .curador, section#noticias article .content .curadores .curador {
  min-height: 240px;
  max-width: 150px;
  display: block;
}
/* line 64, ../sass/pages/_base.scss */
section#content article .content .curadores .curador figure img, section#artista article .content .curadores .curador figure img, section#artistas article .content .curadores .curador figure img, section#noticias article .content .curadores .curador figure img {
  border-radius: 50%;
}
/* line 68, ../sass/pages/_base.scss */
section#content article .content .curadores .curador .personal, section#artista article .content .curadores .curador .personal, section#artistas article .content .curadores .curador .personal, section#noticias article .content .curadores .curador .personal {
  text-align: center;
}
/* line 70, ../sass/pages/_base.scss */
section#content article .content .curadores .curador .personal h2, section#artista article .content .curadores .curador .personal h2, section#artistas article .content .curadores .curador .personal h2, section#noticias article .content .curadores .curador .personal h2 {
  color: #666;
  font-size: 1.7em;
  margin: 15px 0 5px 0;
}
/* line 78, ../sass/pages/_base.scss */
section#content article .content .bio, section#artista article .content .bio, section#artistas article .content .bio, section#noticias article .content .bio {
  margin-top: 50px;
}
/* line 80, ../sass/pages/_base.scss */
section#content article .content .bio .image, section#artista article .content .bio .image, section#artistas article .content .bio .image, section#noticias article .content .bio .image, section#content article .content .bio .info, section#artista article .content .bio .info, section#artistas article .content .bio .info, section#noticias article .content .bio .info {
  float: left;
}
/* line 83, ../sass/pages/_base.scss */
section#content article .content .bio .image, section#artista article .content .bio .image, section#artistas article .content .bio .image, section#noticias article .content .bio .image {
  width: 20%;
}
/* line 85, ../sass/pages/_base.scss */
section#content article .content .bio .image figure, section#artista article .content .bio .image figure, section#artistas article .content .bio .image figure, section#noticias article .content .bio .image figure {
  border-radius: 50%;
  overflow: hidden;
}
/* line 88, ../sass/pages/_base.scss */
section#content article .content .bio .image figure img, section#artista article .content .bio .image figure img, section#artistas article .content .bio .image figure img, section#noticias article .content .bio .image figure img {
  width: 100%;
}
/* line 93, ../sass/pages/_base.scss */
section#content article .content .bio .info, section#artista article .content .bio .info, section#artistas article .content .bio .info, section#noticias article .content .bio .info {
  margin-left: 5%;
  width: 75%;
}
/* line 96, ../sass/pages/_base.scss */
section#content article .content .bio .info h2, section#artista article .content .bio .info h2, section#artistas article .content .bio .info h2, section#noticias article .content .bio .info h2 {
  color: #498796;
  font-size: 2em;
}
/* line 100, ../sass/pages/_base.scss */
section#content article .content .bio .info span, section#artista article .content .bio .info span, section#artistas article .content .bio .info span, section#noticias article .content .bio .info span {
  color: #1e655f;
  display: block;
  font-size: 1.2em;
  margin-top: 5px;
}
/* line 106, ../sass/pages/_base.scss */
section#content article .content .bio .info p, section#artista article .content .bio .info p, section#artistas article .content .bio .info p, section#noticias article .content .bio .info p {
  color: #444;
}
/* line 113, ../sass/pages/_base.scss */
section#content .aside, section#artista .aside, section#artistas .aside, section#noticias .aside {
  color: white;
  background-color: #f15f60;
  padding: 0;
  text-align: center;
}
/* line 118, ../sass/pages/_base.scss */
section#content .aside .item, section#artista .aside .item, section#artistas .aside .item, section#noticias .aside .item {
  padding: 50px 5%;
}
/* line 121, ../sass/pages/_base.scss */
section#content .aside .item hgroup h2, section#artista .aside .item hgroup h2, section#artistas .aside .item hgroup h2, section#noticias .aside .item hgroup h2 {
  font-size: 2em;
}
/* line 124, ../sass/pages/_base.scss */
section#content .aside .item hgroup span, section#artista .aside .item hgroup span, section#artistas .aside .item hgroup span, section#noticias .aside .item hgroup span {
  font-size: 1.1em;
  margin-top: 15px;
}
/* line 129, ../sass/pages/_base.scss */
section#content .aside .item .title, section#artista .aside .item .title, section#artistas .aside .item .title, section#noticias .aside .item .title, section#content .aside .item .biografia, section#artista .aside .item .biografia, section#artistas .aside .item .biografia, section#noticias .aside .item .biografia, section#content .aside .item .convocatoria, section#artista .aside .item .convocatoria, section#artistas .aside .item .convocatoria, section#noticias .aside .item .convocatoria {
  padding: 20px 0;
}
/* line 132, ../sass/pages/_base.scss */
section#content .aside .item.seguinos, section#artista .aside .item.seguinos, section#artistas .aside .item.seguinos, section#noticias .aside .item.seguinos {
  background-color: #008095;
}
/* line 134, ../sass/pages/_base.scss */
section#content .aside .item.seguinos .social, section#artista .aside .item.seguinos .social, section#artistas .aside .item.seguinos .social, section#noticias .aside .item.seguinos .social {
  margin: 30px 0;
}
/* line 137, ../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li, section#artista .aside .item.seguinos .social ul li, section#artistas .aside .item.seguinos .social ul li, section#noticias .aside .item.seguinos .social ul li {
  display: inline-block;
  margin-left: 25px;
}
/* line 140, ../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li:first-child, section#artista .aside .item.seguinos .social ul li:first-child, section#artistas .aside .item.seguinos .social ul li:first-child, section#noticias .aside .item.seguinos .social ul li:first-child {
  margin-left: 0px;
}
/* line 143, ../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li a, section#artista .aside .item.seguinos .social ul li a, section#artistas .aside .item.seguinos .social ul li a, section#noticias .aside .item.seguinos .social ul li a {
  border-radius: 50%;
  background-color: white;
  display: block;
  font-size: 2em;
  height: 40px;
  width: 40px;
}
/* line 150, ../sass/pages/_base.scss */
section#content .aside .item.seguinos .social ul li a i, section#artista .aside .item.seguinos .social ul li a i, section#artistas .aside .item.seguinos .social ul li a i, section#noticias .aside .item.seguinos .social ul li a i {
  color: #008095;
  margin-top: 8px;
  vertical-align: top;
}
/* line 159, ../sass/pages/_base.scss */
section#content .aside .item.seguinos .descripcion, section#artista .aside .item.seguinos .descripcion, section#artistas .aside .item.seguinos .descripcion, section#noticias .aside .item.seguinos .descripcion {
  padding-bottom: 14%;
  padding-left: 14%;
  text-align: left;
}
/* line 163, ../sass/pages/_base.scss */
section#content .aside .item.seguinos .descripcion a, section#artista .aside .item.seguinos .descripcion a, section#artistas .aside .item.seguinos .descripcion a, section#noticias .aside .item.seguinos .descripcion a, section#content .aside .item.seguinos .descripcion span, section#artista .aside .item.seguinos .descripcion span, section#artistas .aside .item.seguinos .descripcion span, section#noticias .aside .item.seguinos .descripcion span {
  color: white;
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 171, ../sass/pages/_base.scss */
section#content .aside .item.convocatoria, section#artista .aside .item.convocatoria, section#artistas .aside .item.convocatoria, section#noticias .aside .item.convocatoria {
  height: 400px;
}
/* line 173, ../sass/pages/_base.scss */
section#content .aside .item.convocatoria hgroup, section#artista .aside .item.convocatoria hgroup, section#artistas .aside .item.convocatoria hgroup, section#noticias .aside .item.convocatoria hgroup {
  margin-bottom: 30px;
}
/* line 178, ../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon a, section#artista .aside .item.convocatoria .download .icon a, section#artistas .aside .item.convocatoria .download .icon a, section#noticias .aside .item.convocatoria .download .icon a {
  color: white;
}
/* line 180, ../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon a i, section#artista .aside .item.convocatoria .download .icon a i, section#artistas .aside .item.convocatoria .download .icon a i, section#noticias .aside .item.convocatoria .download .icon a i {
  font-size: 4em;
}
/* line 185, ../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .icon, section#artista .aside .item.convocatoria .download .icon, section#artistas .aside .item.convocatoria .download .icon, section#noticias .aside .item.convocatoria .download .icon, section#content .aside .item.convocatoria .download .text, section#artista .aside .item.convocatoria .download .text, section#artistas .aside .item.convocatoria .download .text, section#noticias .aside .item.convocatoria .download .text {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
/* line 190, ../sass/pages/_base.scss */
section#content .aside .item.convocatoria .download .text, section#artista .aside .item.convocatoria .download .text, section#artistas .aside .item.convocatoria .download .text, section#noticias .aside .item.convocatoria .download .text {
  padding-top: 6px;
  margin-left: 10px;
}

/* line 4, ../sass/pages/_noticias.scss */
section#noticias .noticias {
  padding-right: 70px;
}
/* line 6, ../sass/pages/_noticias.scss */
section#noticias .noticias .item {
  border-bottom: 1px solid white;
  padding: 10px 0;
  margin: 10px 0;
  margin-top: 30px;
}
/* line 11, ../sass/pages/_noticias.scss */
section#noticias .noticias .item hgroup {
  margin-bottom: 10px;
}
/* line 13, ../sass/pages/_noticias.scss */
section#noticias .noticias .item hgroup h3 {
  color: #8e8a5d;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 18, ../sass/pages/_noticias.scss */
section#noticias .noticias .item hgroup div.fecha {
  display: block;
  vertical-align: top;
  color: #666;
}
/* line 25, ../sass/pages/_noticias.scss */
section#noticias .noticias .item .descripcion p {
  color: #1e655f;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 31, ../sass/pages/_noticias.scss */
section#noticias .noticias .item .social {
  text-align: left;
}
/* line 34, ../sass/pages/_noticias.scss */
section#noticias .noticias .item .social ul li {
  display: inline-block;
  margin: 10px;
}
/* line 37, ../sass/pages/_noticias.scss */
section#noticias .noticias .item .social ul li a {
  color: #1e655f;
  font-size: 1.5em;
}

/* line 1, ../sass/pages/_footer.scss */
section#map {
  background-color: #e1dfd3;
  padding: 30px;
}
/* line 4, ../sass/pages/_footer.scss */
section#map .mapa {
  background: url(../assets/images/mapa.jpg) top right no-repeat;
  height: 530px;
}
/* line 7, ../sass/pages/_footer.scss */
section#map .mapa h2 {
  color: #106667;
  font-size: 3em;
  font-weight: bold;
  padding: 50px;
}
/* line 15, ../sass/pages/_footer.scss */
section#map .provincias h2 {
  color: #2a86ad;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 40px;
}
/* line 22, ../sass/pages/_footer.scss */
section#map .provincias ul li {
  font-size: 1.3em;
  margin: 40px 0;
}
/* line 25, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(1) {
  color: #8e8a5d;
}
/* line 28, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(2) {
  color: #bd3050;
}
/* line 31, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(3) {
  color: #fa7c0e;
}
/* line 34, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(4) {
  color: #fdb008;
}
/* line 37, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(5) {
  color: #00bd71;
}
/* line 40, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(6) {
  color: #027498;
}
/* line 43, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(7) {
  color: #434a54;
}
/* line 46, ../sass/pages/_footer.scss */
section#map .provincias ul li:nth-child(8) {
  color: #6e4c64;
}
/* line 49, ../sass/pages/_footer.scss */
section#map .provincias ul li b {
  font-weight: bold;
}
/* line 52, ../sass/pages/_footer.scss */
section#map .provincias ul li i {
  margin-right: 10px;
}

/* line 59, ../sass/pages/_footer.scss */
footer {
  background-color: #008095;
}
/* line 61, ../sass/pages/_footer.scss */
footer .item {
  color: white;
  padding: 40px 0;
  text-align: center;
}
/* line 65, ../sass/pages/_footer.scss */
footer .item a {
  color: white;
}
/* line 67, ../sass/pages/_footer.scss */
footer .item a:hover {
  color: white;
  text-decoration: none;
}
/* line 72, ../sass/pages/_footer.scss */
footer .item.bg1 {
  background-color: #8cbcb0;
}
/* line 75, ../sass/pages/_footer.scss */
footer .item.bg2 {
  background-color: #f3b464;
}
/* line 78, ../sass/pages/_footer.scss */
footer .item.bg3 {
  background-color: #ef5e61;
}
/* line 81, ../sass/pages/_footer.scss */
footer .item.bg4 {
  background-color: #ee645a;
}
/* line 84, ../sass/pages/_footer.scss */
footer .item.bg5 {
  background-color: #5d4a50;
}
/* line 87, ../sass/pages/_footer.scss */
footer .item.bg6 {
  background-color: #2d3f53;
}
/* line 90, ../sass/pages/_footer.scss */
footer .item h3 {
  font-size: 2em;
  margin: 30px 0;
}
/* line 94, ../sass/pages/_footer.scss */
footer .item p {
  font-size: 1.1em;
}
/* line 98, ../sass/pages/_footer.scss */
footer .item figure img {
  display: inline-block;
}

/* line 18, ../sass/screen.scss */
html, body {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  height: 100%;
}

/* line 23, ../sass/screen.scss */
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 27, ../sass/screen.scss */
header {
  padding: 15px 0;
  position: relative;
}
/* line 30, ../sass/screen.scss */
header .franja {
  background-color: #ef5e61;
  height: 72px;
  left: -165%;
  position: absolute;
  top: 20px;
  width: 500px;
}
/* line 38, ../sass/screen.scss */
header nav {
  position: relative;
  margin-top: 15px;
}
/* line 43, ../sass/screen.scss */
header nav ul li a {
  color: #008095;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 47, ../sass/screen.scss */
header nav ul li a:after {
  content: '|';
  position: absolute;
  right: 0;
}

/* line 57, ../sass/screen.scss */
section#over {
  display: block;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 63, ../sass/screen.scss */
section#over .transparencia {
  /* background-color: $bluedesc; */
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 72, ../sass/screen.scss */
section#over .title {
  height: 100px;
  left: 50%;
  margin-left: -225px;
  margin-top: -50px;
  position: absolute;
  top: 70%;
  width: 450px;
}
/* line 81, ../sass/screen.scss */
section#over .title hgroup h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 88, ../sass/screen.scss */
section#over .title hgroup span {
  color: #addfe0;
  font-size: 1.4em;
}
/* line 94, ../sass/screen.scss */
section#over .arrow {
  color: #addfe0;
  top: 90%;
  left: 50%;
  position: absolute;
  margin-left: -12px;
}
/* line 100, ../sass/screen.scss */
section#over .arrow i {
  font-size: 2.5em;
}
